.container__list {
  display: block;
  position: relative;
  top: -61px;
  background-color: #fff;
  border-radius: 2px;
  padding: 22px;
  max-width: 78%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.06);
}

.box__date {
  width: 100%;
  margin-right: auto;
}

.box__date .input-data {
  color: #000;
  font-family: Raleway bold;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;

}

.box__date .input-title {
  color: rgba(0, 0, 0, 0.80);
  font-family: Raleway Bold;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

}

.box__date h2 {
  color: rgba(0, 0, 0, 0.80);
  font-family: Raleway Bold;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

}

.qtd__people {
  display: flex;
  align-items: center;
  /* width: 85px; */
}

.box__date p {
  color: #000;
  text-align: center;
  font-family: Raleway-Thin;
  font-size: 21px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

}

.box__people img {
  margin-right: 6px;
}

.box__people {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.under__style {
  border-bottom: 1px solid #E5C231;
}

.input-data {
  border: none;
  outline: none;
}

.input-title::before,
.input-title::after,
.input-data::after,
.input-data::before {
  border: none !important;
}

.input-data::placeholder {
  color: #00000054;
  font-family: Raleway Bold;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.disable {
  color: #00000031;
}


input[type=checkbox] {
  -webkit-appearance: none;
  appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  border: 0.15em solid #998220;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  margin-top: 0;
  margin-right: 10px;
  padding: 0;
  transform: translate(0, 8px);
}

label {
  color: rgba(0, 0, 0, 0.80);
  font-family: Raleway Bold;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}


input:checked {
  background-color: #FFD836;
  position: relative;
  border: none !important;
}

input:checked::before {
  content: "";
  position: absolute;
  right: 0px !important;
}

.money {
  color: rgba(0, 0, 0, 0.80);
  font-family: Raleway Bold;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.check {
  text-decoration: line-through
}

.btn__back {
  display: flex;
  margin: 0;
  width: 100%;
  justify-content: center;
  padding: 28px 0 15px;
}