.container__login {
  background-color: #FFD836;
  width: 100%;
  height: 65vh;
}

.form__box {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.box__input {
  transform: translate(0px, -70px);
}

.box__input h2 {
  color: rgba(0, 0, 0, 0.80);
  font-family: Raleway Bold;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.box__input input {
  border-radius: 2px;
  background: #FFF;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.06);
  outline: none;
  border: none;
  min-width: 282px;
  height: 50px;
}

.box__input input::placeholder {
  color: rgba(0, 0, 0, 0.80);
  font-family: Raleway Light;
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  padding: 15px;
}

.button__submit {
  border-radius: 18px;
  background: #000;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.06);
  color: #FFF;
  font-family: Raleway Bold;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 14px 115px 14px;
  text-decoration: none;
}

.box__button {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}