.warp__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 25px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.container__card {
  max-width: 100%;
  background-color: #F1F1F1;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 42px;
  transform: translate(0, -50px);
  border-radius: 2px;
  cursor: pointer;
}

.box__icon {
  background-image: url(../../assets/img/Ellipse.png);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background-position: center;
  padding: 23px;
  background-repeat: no-repeat;
}

a {
  color: #000;
  text-align: center;
  font-family: Raleway Bold;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
  text-transform: none;
}

.container__card:hover {
  transition: .9s ease-in-out;
  scale: 0.9;
}